In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
print(os.getcwd())

C:\Users\PC_Hector\Documents\MedLab\env

In [4]:
with open(r'.\Scripts\mmg_data.csv', 'rb') as f: 
    df = pd.read_csv(f)

In [5]:
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
5194001,2,2016-01-17 03:54:39,2016-01-17 04:01:03,5,1.37,-73.981522,40.724548,1,N,-73.978180,40.712379,1,7.0,0.5,0.5,2.08,0.00,0.3,10.38
4635026,2,2016-01-11 12:07:39,2016-01-11 12:33:11,1,4.83,-73.984283,40.757488,1,N,-73.940643,40.725487,2,20.0,0.0,0.5,0.00,5.54,0.3,26.34
3331289,2,2016-01-25 00:38:54,2016-01-25 00:53:56,1,3.55,-73.960991,40.715473,1,N,-73.941521,40.676868,2,13.0,0.5,0.5,0.00,0.00,0.3,14.30
5784366,1,2016-01-12 00:08:32,2016-01-12 00:15:59,1,2.00,-73.999802,40.726730,1,N,-73.992317,40.749268,2,8.0,0.5,0.5,0.00,0.00,0.3,9.30
6571965,2,2016-01-19 05:51:03,2016-01-19 05:54:14,5,0.91,-73.983788,40.743481,1,N,-73.984985,40.753029,2,5.0,0.5,0.5,0.00,0.00,0.3,6.30

In [6]:
print("Dataset has {} entries and {} features".format(*df.shape))

Dataset has 10906858 entries and 19 features

In [7]:
df['flagged'] = (df['store_and_fwd_flag'] == 'Y').astype('int')

In [8]:
df[df['store_and_fwd_flag']=='Y'].sample(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged
8151600,1,2016-01-20 13:39:14,2016-01-20 13:44:07,1,0.7,-73.959541,40.766651,1,Y,-73.957428,40.774143,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80,1
7345158,1,2016-01-30 08:32:31,2016-01-30 08:40:23,1,2.6,-74.011459,40.720165,1,Y,-73.995369,40.749481,1,10.5,0.0,0.5,2.25,0.0,0.3,13.55,1

In [9]:
def calc_prevalence(y):
 return (sum(y)/len(y))

In [10]:
calc_prevalence(df['flagged'])

0.0057975449941678895

In [11]:
df['pick_up_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'], 
 errors = 'coerce')

In [12]:
df['pick_up_datetime'].sample().dt.dayofweek

5258443    1
Name: pick_up_datetime, dtype: int64

In [13]:
#Monday=0, Sunday=6.
df['day_of_week'] = df['pick_up_datetime'].dt.dayofweek

In [14]:
df.sample(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged,pick_up_datetime,day_of_week
9759286,1,2016-01-29 06:23:26,2016-01-29 06:28:37,1,1.60,-73.949753,40.784710,1,N,-73.938515,...,6.5,0.0,0.5,1.45,0.0,0.3,8.75,0,2016-01-29 06:23:26,4
7283651,2,2016-01-30 01:43:22,2016-01-30 01:56:50,1,2.74,-73.990013,40.719746,1,N,-73.982895,...,11.5,0.5,0.5,2.56,0.0,0.3,15.36,0,2016-01-30 01:43:22,5
9385921,2,2016-01-24 19:54:41,2016-01-24 20:14:59,1,3.82,-73.976067,40.740791,1,N,-73.961517,...,17.0,0.0,0.5,3.56,0.0,0.3,21.36,0,2016-01-24 19:54:41,6

In [16]:
df[df['day_of_week']==0].sample(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged,pick_up_datetime,day_of_week
4395309,2,2016-01-11 08:32:33,2016-01-11 09:22:32,6,9.44,-73.870796,40.773769,1,N,-73.985970,...,35.5,0.0,0.5,8.37,5.54,0.3,50.21,0,2016-01-11 08:32:33,0
3638102,2,2016-01-25 12:04:55,2016-01-25 12:17:10,2,1.05,-73.987267,40.749474,1,N,-73.977814,...,8.5,0.0,0.5,1.86,0.00,0.3,11.16,0,2016-01-25 12:04:55,0
9565841,2,2016-01-04 21:38:17,2016-01-04 21:48:45,6,4.62,-73.977615,40.749931,1,N,-74.004395,...,15.0,0.5,0.5,3.26,0.00,0.3,19.56,0,2016-01-04 21:38:17,0

In [17]:
df[df['day_of_week']>4].sample()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged,pick_up_datetime,day_of_week
7570406,2,2016-01-30 19:27:32,2016-01-30 19:40:17,1,1.76,-73.990211,40.728836,1,N,-74.006432,...,10.0,0.0,0.5,2.0,0.0,0.3,12.8,0,2016-01-30 19:27:32,5

In [18]:
df['weekend'] = (df['day_of_week']>4).astype('int')

In [19]:
df[df['weekend']==1].sample()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged,pick_up_datetime,day_of_week,weekend
577311,1,2016-01-02 18:18:41,2016-01-02 18:43:58,2,5.3,-74.016693,40.708298,1,N,-73.977226,...,0.0,0.5,3.92,0.0,0.3,25.72,0,2016-01-02 18:18:41,5,1

In [20]:
df.sample(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged,pick_up_datetime,day_of_week,weekend
8084942,2,2016-01-20 09:58:38,2016-01-20 10:22:11,1,3.37,-73.990868,40.73,1,N,-73.967369,...,0.0,0.5,3.56,0.0,0.3,21.36,0,2016-01-20 09:58:38,2,0

In [ ]:
#TODO:review
df['pick_up_datetime'].between_time('20:06:00:00')

In [21]:
df['pickup_datetime'] = df['pick_up_datetime'].dt.strftime('%d-%m %H:%M:%S')

In [22]:
df.head(3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,flagged,pick_up_datetime,day_of_week,weekend,pickup_datetime
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,...,0.5,0.0,0.0,0.3,8.8,0,2016-01-01,4,0,01-01 00:00:00
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,...,0.5,0.0,0.0,0.3,19.3,0,2016-01-01,4,0,01-01 00:00:00
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,...,0.5,0.0,0.0,0.3,34.3,0,2016-01-01,4,0,01-01 00:00:00

In [33]:
df_model = df[['weekend','passenger_count','trip_distance','RatecodeID','payment_type','tip_amount']]

In [34]:
df_model.sample(2)

,weekend,passenger_count,trip_distance,RatecodeID,payment_type,tip_amount
3618033,0,1,2.98,1,1,3.16
5832424,0,2,1.65,1,2,0.00

In [35]:
df_model['total_amount'] = df['total_amount']

<ipython-input-35-e7435b53a0a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_model['total_amount'] = df['total_amount']

In [36]:
df_model.sample(3)

,weekend,passenger_count,trip_distance,RatecodeID,payment_type,tip_amount,total_amount
2863095,0,2,3.32,1,1,4.26,25.56
4093824,0,1,6.51,1,2,0.00,22.80
5579170,0,1,2.40,1,1,3.56,21.36

In [37]:
print("Dataset has {} entries and {} features".format(*df_model.shape))

Dataset has 10906858 entries and 7 features

In [38]:
X, y = df_model.loc[:,:'tip_amount'].values, df_model.loc[:,'total_amount'].values

In [39]:
X[2863095],y[2863095]

(array([0.  , 2.  , 3.32, 1.  , 1.  , 4.26]), 25.56)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.20, random_state=17)

In [41]:
import xgboost as xgb
#Read the data
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [42]:
from sklearn.metrics import mean_absolute_error

In [43]:
# "Learn" the mean from the training data
mean_train = np.mean(y_train)
# Get predictions on the test set
baseline_predictions = np.ones(y_test.shape) * mean_train
# Compute MAE(Mean Absolute Error)
mae_baseline = mean_absolute_error(y_test, baseline_predictions)
print("Baseline MAE is {:.2f}".format(mae_baseline))

Baseline MAE is 8.31

In [51]:
print('data mean:'+str(df_model['total_amount'].mean()))
print('data mean:'+str(y_test.mean()))

data mean:15.641395248408081
data mean:15.679896523839115

In [74]:
# specify parameters via map
params = {
    # Parameters that we are going to tune.
    'max_depth':10,
    'min_child_weight': 6,
    'eta':.3,
    'subsample': 1,
    'colsample_bytree': 1,
    # Other parameters
    'objective':'reg:squarederror',
}

In [75]:
params['eval_metric'] = "mae"

In [76]:
num_round = 2
num_boost_round = 20
model = xgb.train(
    params,
    dtrain,
    num_boost_round=num_boost_round,
    evals=[(dtest, "Test")],
    early_stopping_rounds=3
)
# make prediction
preds = model.predict(dtest)

[0]	Test-mae:10.66442
[1]	Test-mae:7.50358
[2]	Test-mae:5.29760
[3]	Test-mae:3.76826
[4]	Test-mae:2.74639
[5]	Test-mae:2.13071
[6]	Test-mae:1.79489
[7]	Test-mae:1.61995
[8]	Test-mae:1.53027
[9]	Test-mae:1.48393
[10]	Test-mae:1.46063
[11]	Test-mae:1.45005
[12]	Test-mae:1.44517
[13]	Test-mae:1.44343
[14]	Test-mae:1.44243
[15]	Test-mae:1.44261
[16]	Test-mae:1.44278
[17]	Test-mae:1.44304

In [77]:
print("Best MAE: {:.2f} in {} rounds".format(model.best_score, model.best_iteration+1))

Best MAE: 1.44 in 15 rounds

In [118]:
from sklearn import metrics
# make predictions for test data
y_pred = model.predict(dtest)
predictions = [round(value) for value in y_pred]
MAE_prediction = sklearn.metrics.mean_absolute_error(y_test, predictions)
print("prediction MAE: %.2f%%" % (MAE_prediction))

prediction MAE: 1.48%

In [79]:
#uncomment to persist
#model.save_model("../my_model.model")

In [80]:
loaded_model = xgb.Booster()
loaded_model.load_model("../my_model.model")

In [123]:
dtest.num_row(),dtest.num_col

(2181372,
 <bound method DMatrix.num_col of <xgboost.core.DMatrix object at 0x00000298E6EC5D60>>)

In [160]:
data_test_pandas = pd.DataFrame([{"weekend":0, "passenger_count":2.0, "trip_distance":3.32,"RatecodeID":1,"payment_type":1,"tip_amount":4.26}])

In [161]:
data_test_boost = xgb.DMatrix(data_test_pandas)
data_test_boost

In [163]:
loaded_model.predict(data_test_boost)[0]

22.856295

In [138]:
X[2863095],y[2863095]

(array([0.  , 2.  , 3.32, 1.  , 1.  , 4.26]), 25.56)

In [147]:
import requests

In [175]:
requests.get("http://127.0.0.1:8080/test").text

'number 12.35'

In [183]:
requests.post('http://127.0.0.1:8080/amount-prediction', json={"weekend":0, "passenger_count":2.0, "trip_distance":3.32,"RatecodeID":1, "payment_type":1,"tip_amount":4.26,"test":"29"}).text

'{"result":22.856294631958008,"success":true}\n'

In [173]:
requests.get("http://127.0.0.1:8080/mean-tips").text

'{"mean":1.750663115812088,"rows":10906858}\n'